spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:postgresql://localhost:5434/booking
    username: booking_user
    password: booking_pass
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082
