spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:postgresql://localhost:5434/booking
    username: booking_user
    password: booking_pass
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

resilience4j:
  circuitbreaker:
    instances:
      catalogService:
        registerHealthIndicator: true
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
  retry:
    instances:
      catalogService:
        maxAttempts: 3
        waitDuration: 500ms
  timelimiter:
    instances:
      catalogService:
        timeoutDuration: 2s

